/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'poppins';
}

section{
  padding: 2rem 5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
  border-bottom: 1px solid #E2E8F0;
}

.navbar {
  z-index: 9999;
  width: 100%;
  height: 70px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  margin-right: 15px;
  background-color: #fdfdfd;
  box-shadow: 0px 0px 15px rgba(192, 209, 200, 0.66);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 24px;
  height: 2px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.5rem;
  font-weight: 400;
  color: #000000;
}

.nav-link:hover{
  border-bottom: 3px solid rgb(0, 156, 8);
  transition: all .2s ease;
}

.nav-logo img{
  width: 140px;
  height: 40px;
}

@media only screen and (max-width: 768px) {

  html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

}

 /* Inside the Media Query. */

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


/* Home */

   
.home{
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ffffff;
}

.home .content{
  margin-left: 50px;
}

.home .content .title{
  color: rgb(255, 0, 0);
  text-align: left;
  margin-right: 50px;
  margin-bottom: 20px;
  font-size: 50px;
}

.home .content .title span{
  color: rgb(0, 156, 8);
}

.home .content p{
  padding: 15px;
  font-size: 16px;
  margin-left: -10px;
  color: #000000;
}

.home .content i{
  padding-right: 8px;
  color: rgb(0, 156, 8);
}

.home .image{
  padding: 60px;
  flex: 1 1 40rem;
} 

.home .image img{
  width: 100%;
}

.home .image img:hover{
  transform: scale(1.1);
}

/* Menu */

.container-menu{
  background-color: #F5F5F5;
  padding: 50px;
}

.Judul{
  margin-left: 30px;
}

.garis-1{
  border-top: 5px solid  rgb(255, 0, 0);
  width: 100px;
  }

.garis-2{
  border-top: 5px solid rgb(0, 156, 8);
  width: 150px;
  margin-top: 10px;
}

.txt-menu{
  margin-top: 8px;
  font-size: 40px;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 30px;
  grid-gap: 50px;
}
.grid-container article{
  box-shadow: 0px 1px 1px 0px rgb(255, 255, 255);
  border-radius: 10px;
  text-align: left;
  background: white;
  width: 300px; 
}

.grid-container article:hover{
  transform: scale(1.1);
}

.grid-container article img{
  padding: 12px;
  border-radius:20px
}

.grid-container article h2{
  margin-top: 12px;
  margin-left: 12px;
  color: #000;
  font-size: 18px;
}

.grid-container article p{
 margin-left: 12px;
 margin-top: 12px;
 margin-bottom: 10px;
 font-size: 14px;
}

.btn-pesan {
  width: 150px;
  height: 60px;
  border-radius: 35px 35px 35px 35px;
  outline-style: auto;
  border-style: none;
  color: rgb(0, 156, 8);
  cursor: pointer;
  background-color:  #F5F5F5;
  margin-top: 10px;
  box-shadow: 0px 0px 10px rgba(120, 255, 156, 0.66);

}

.btn-pesan:hover {
  transition: all .5s ease;
  background-color:  rgb(0, 156, 8);
  color: #F5F5F5;
}

@media(max-width:992px){
  .grid-container{
    grid-template-columns: repeat(2,1fr);
  }
}

@media(max-width:768px){
  .grid-container{
    grid-template-columns: repeat(1,1fr);
  }
}

/* Tentang Kami */

.container-tentang-kami{
  padding: 50px;
}

.container-tentang-kami .tentang-kami{
  display: flex;
  flex-wrap: wrap;
}

.container-tentang-kami .image{
  padding-bottom: 15px;
} 

.container-tentang-kami .image img{
  width: 100%;

}

.container-tentang-kami .image img:hover{
  transform: scale(1.1);
}

.container-tentang-kami .description1{
  font-size: 18px;
  line-height: 1.8;
  margin-top: 30px;
  margin-left: 55px;
  color: #000000;
}

.container-tentang-kami .content .description2{
  font-size: 18px;
  line-height: 1.8;
  margin-top: -8px;
  margin-left: 40px;
  color: #000000;
}

.container-tentang-kami .description3{
  font-size: 18px;
  line-height: 1.8;
  margin-top: -15px;
  margin-left: 55px;
  color: #000000;
}

/* Kontak */

.container-kontak{
  background-color: #F5F5F5;
  padding: 50px;
}

.kontak{
  display: flex;
  flex-wrap: wrap;
  top: 50%;
  padding: 50px;
}

.form{
  padding-right: 300px;
}

.user-box {
  position: relative;
  width: 250px;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  color: #000000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  background: transparent;
}

 .user-box label {
  position: absolute;
  left: 0;
  padding: 0px 0;
  font-size: 16px;
  color: #000000;
  pointer-events: none;
  transition: .5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: rgb(0, 156, 8);
  font-size: 12px;
}

.btn-kirim {
  width: 85px;
  height: 35px;
  margin-bottom: 50px;
  border-radius: 8px 8px 8px 8px;
  outline-style: auto; 
  border-style: none;
  color: rgb(0, 156, 8);
  cursor: pointer;
  background-color:  #F5F5F5;
  box-shadow: 0px 0px 10px rgba(120, 255, 156, 0.66);

}

.container-kontak .btn-kirim:hover {
  transition: all .5s ease;
  background-color:  rgb(0, 156, 8);
  color: #F5F5F5;
}

.alamat{
  font-size: 24px;
  line-height: 1.8;
  color: #000000;
}

/* Footer */

.Footer{
  padding: 15px;
  text-align: center;
}
